<!DOCTYPE html>
<html>

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
        <title>Gourav Hammad</title>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

        <link rel='icon' href='/img/icon.svg'/>
      </head>
<body class="bg-dark">
    <div class="container-fluid bg-dark">
                
                <div class="container">

                    <h1 class="font-weight-light text-center text-warning mt-4 mb-4 font-weight-bold">MY TECHNICAL BLOGS</h1>
                               
                    <div class="row text-center text-lg-left">
                  
                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/file-uploading-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> File uploading in Node.js</a>
                      </div>
                      
                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/sending-sms-using-nexmo-api-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Sending SMS using NEXMO API in Node.js</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-configure-node-js-console-font/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to configure node.js console font?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-read-command-line-arguments-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to read command-line arguments in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/sending-bulk-sms-in-node-js-using-twilio/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Sending bulk SMS in Node.js using Twilio</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/password-hashing-with-md5-module-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Password Hashing with MD5 module in Node.js</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-serve-static-content-using-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Serve Static Content using Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-setup-handlebars-view-engine-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Setup Handlebars View Engine in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-run-synchronous-queries-using-sync-sql-module-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Run Synchronous Queries using sync-sql Module in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-setup-view-engine-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Setup View Engine in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-set-online-sql-server-for-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Set Online SQL Server for Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-validate-data-using-hapi-joi-module-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Validate Data using hapi-joi Module in Node.js?</a>
                      </div>
                      
                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-integrate-stripe-payment-gateway-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Integrate Stripe Payment Gateway in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-send-email-using-mailgun-api-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Send Email using Mailgun API in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/node-js-request-module/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to use the Request Module in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-validate-data-using-validator-module-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Validate Data using validator Module in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-upload-file-using-formidable-module-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to upload files using the formidable module in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongodb-objectid-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> MongoDB | ObjectID() Function</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-handle-badwords-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to handle badwords in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/node-js-this-binding/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Node.js | This Binding</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/node-js-mapbox-reverse-geocoding-api/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Node.js | Mapbox Forward Geocoding API</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/node-js-mapbox-reverse-geocoding-api/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Node.js | https.request() Function</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/node-js-mapbox-reverse-geocoding-api/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Node.js | Mapbox Reverse Geocoding API</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/node-js-promise-chaining/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Node.js | Promise Chaining</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/node-js-dark-sky-api-for-weather-forecasts/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Node.js | Dark Sky API for Weather Forecasts</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-app-path-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | app.path() Function</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-app-set-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | app.set() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-app-route-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | app.route() Function</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-app-post-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | app.post() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-app-put-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | app.put() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-app-listen-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | app.listen() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-app-method-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | app.method() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-app-param-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | app.param() Function</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-res-location-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | res.location() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-app-all-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | app.all() Function</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-app-render-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | app.render() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-app-get-request-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | app.get() Request Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-app-get-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | app.get() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-app-delete-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | app.delete() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-app-use-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | app.use() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-app-enabled-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | app.enabled() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-app-disabled-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | app.disabled() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-app-enable-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | app.enable() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-res-format-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | res.format() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-res-clearcookie-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | res.clearCookie() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/express-js-router-use-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express.js | router.use() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/node-js-yargs-module/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to use the Yargs Module in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/session-management-using-express-session-module-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Session Management using express-session Module in Node.js</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-validate-data-using-express-validator-module-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Validate Data using express-validator Module in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-updatemany-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | updateMany() Function</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-findoneanddelete-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | findOneAndDelete() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-findbyidandremove-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | findByIdAndRemove() Function</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-deletemany-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | deleteMany() Function</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-findbyidanddelete-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | findByIdAndDelete() Function</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-findbyidandupdate-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | findByIdAndUpdate() Function</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-findbyid-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | findById() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-insertmany-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | insertMany() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-find-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | find() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-findone-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | findOne() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-findoneandremove-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | findOneAndRemove() Function</a>
                      </div>


                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://medium.com/@gouravhammad477/python-program-to-find-nearest-greater-palindrome-number-8b618a0941e5" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Python program to find nearest greater palindrome number</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://medium.com/@gouravhammad477/validation-in-node-js-using-the-express-validator-module-cd815ec082f1" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express-validator: Best validation module in node.js</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-countdocuments-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | countDocuments() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-exists-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | exists() Function</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-where-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | where() Function</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-replaceone-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | replaceOne() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-updateone-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | updateOne() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-remove-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | remove() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-update-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | update() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-findoneandupdate-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | findOneAndUpdate() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-save-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | save() Function </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/mongoose-estimateddocumentcount-function/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Mongoose | estimatedDocumentCount() Function</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/data-communication-terminologies/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Data Communication Terminologies </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/types-of-web-hosting/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Types of Web Hosting</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/video-conferencing-protocols/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Video Conferencing Protocols </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/chat-conferencing-protocols/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Chat Conferencing Protocols</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/protection-methods-for-network-security/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Protection Methods for Network Security </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/shorthand-syntax-for-object-property-value-in-es6/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Shorthand Syntax for Object Property Value in ES6 </a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/internetworking-terms-and-concepts/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Internetworking Terms and Concepts </a>
                      </div>

                    </div>

                    <h1 class="font-weight-light text-center text-warning mt-4 mb-4 font-weight-bold">MY TECHNICAL VIDEOS</h1>
                               
                    <div class="row text-center text-lg-left">
                  
                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.youtube.com/playlist?list=PLo0PgqIkFWBzzwjRvubiCQjEKCv2Lr1mi" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Top 8 project ideas for CS Students</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://youtu.be/n0JIyFIOzEE" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to send bulk SMS using Twilio Notify?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://youtu.be/xv7Zk5jGkww" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Top 10 features of GB WhatsApp</a>
                      </div>

                    </div>
                  
                  </div>

            </div>
</body>

</html>