<!DOCTYPE html>
<html>

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    
        <title>Gourav Hammad</title>

        <!-- Bootstrap core CSS -->
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
        <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

        <link rel='icon' href='/img/icon.svg'/>
      </head>
<body class="bg-dark">
    <div class="container-fluid bg-dark">
                
                <div class="container">

                    <h1 class="font-weight-light text-center text-warning mt-4 mb-4 font-weight-bold">MY TECHNICAL BLOGS</h1>
                               
                    <div class="row text-center text-lg-left">
                  
                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/file-uploading-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> File uploading in Node.js</a>
                      </div>
                      
                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/sending-sms-using-nexmo-api-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Sending SMS using NEXMO API in Node.js</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-configure-node-js-console-font/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to configure node.js console font?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-read-command-line-arguments-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to read command-line arguments in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/sending-bulk-sms-in-node-js-using-twilio/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Sending bulk SMS in Node.js using Twilio</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/password-hashing-with-md5-module-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Password Hashing with MD5 module in Node.js</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-serve-static-content-using-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Serve Static Content using Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-setup-handlebars-view-engine-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Setup Handlebars View Engine in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-run-synchronous-queries-using-sync-sql-module-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Run Synchronous Queries using sync-sql Module in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-setup-view-engine-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Setup View Engine in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-set-online-sql-server-for-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Set Online SQL Server for Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-validate-data-using-hapi-joi-module-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Validate Data using hapi-joi Module in Node.js?</a>
                      </div>
                      
                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-integrate-stripe-payment-gateway-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Integrate Stripe Payment Gateway in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-send-email-using-mailgun-api-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Send Email using Mailgun API in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/node-js-request-module/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to use the Request Module in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-validate-data-using-validator-module-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Validate Data using validator Module in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-upload-file-using-formidable-module-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to upload files using the formidable module in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/node-js-yargs-module/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to use the Yargs Module in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/session-management-using-express-session-module-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Session Management using express-session Module in Node.js</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.geeksforgeeks.org/how-to-validate-data-using-express-validator-module-in-node-js/" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to Validate Data using express-validator Module in Node.js?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://medium.com/@gouravhammad477/python-program-to-find-nearest-greater-palindrome-number-8b618a0941e5" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Python program to find nearest greater palindrome number</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://medium.com/@gouravhammad477/validation-in-node-js-using-the-express-validator-module-cd815ec082f1" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Express-validator: Best validation module in node.js</a>
                      </div>

                    </div>

                    <h1 class="font-weight-light text-center text-warning mt-4 mb-4 font-weight-bold">MY TECHNICAL VIDEOS</h1>
                               
                    <div class="row text-center text-lg-left">
                  
                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://www.youtube.com/playlist?list=PLo0PgqIkFWBzzwjRvubiCQjEKCv2Lr1mi" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Top 8 project ideas for CS Students</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://youtu.be/n0JIyFIOzEE" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> How to send bulk SMS using Twilio Notify?</a>
                      </div>

                      <div class="col-lg-6 col-md-6 col-12">
                        <a target="__blank" href="https://youtu.be/xv7Zk5jGkww" class="d-block mb-4 h-100 text-light font-weight-bold h4"><i class="fa fa-bolt text-warning" aria-hidden="true"></i> Top 10 features of GB WhatsApp</a>
                      </div>

                    </div>
                  
                  </div>

            </div>
</body>

</html>