<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="RESUME : Gourav Hammad, Software Enginner">
  <meta name="keywords" content="Gourav,Hammad,Gourav Hammad,gouravhammad,Resume Gourav Hammad, GouravHammad">
  <meta name="author" content="Gourav Hammad">

  <title>Gourav Hammad</title>

  <link rel='icon' href='img/icon.svg'/>
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->

  <link href="css/resume.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Gourav Hammad</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="img/profile.jpg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Interests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#awards">Awards</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Gourav
          <span class="text-primary">Hammad</span>
        </h1>
        <div class="subheading mb-5">+91-9826527244
          <a href="mailto:gourav.hammad.sdbc@gmail.com"> gourav.hammad.sdbc@gmail.com</a>
        </div>
        <p class="lead mb-5 text-justify">I want to obtain a position of responsibility that utilizes my skills and keen to work in an environment where I can enrich my knowledge.</p>
        <div class="social-icons">
          <a href="https://www.linkedin.com/in/gouravhammad/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/gouravhammad">
            <i class="fab fa-github"></i>
          </a>
          <a href="https://twitter.com/GouravHammad">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="live:.cid.986569966c6a8195">
            <i class="fab fa-skype"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">MEAN Stak Developer</h3>
            <div class="subheading mb-3">Mantic Technologies, Indore</div>
            <p class="text-justify">I worked as a Full Stack Developer and did multiple projects, starting from problem statement till the deployement of project. I also worked on AWS for few days</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2020 - Jul 2020</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Backend Developer (Node.js)</h3>
            <div class="subheading mb-3">The Design Institute, Indore</div>
            <p class="text-justify">I worked on the PWA (Progressive Web Apps), Firstly I worked on 'Water Delivery App' and later on I managed the API's for 'Zoo App', This industry experience was full of excitement and memorable for me.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Dec 2019 - Feb 2020</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
          <div class="resume-content">
            <h3 class="mb-0">Java and Frameworks Developer</h3>
            <div class="subheading mb-3">Mantic Technologies, Indore</div>
            <p class="text-justify">I worked on Java framework (Spring, Hibernate) and Web services. It was my first industry experience and learned a lot from it.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2019 - Jun 2019</span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Sushila Devi Bansal College of Technology, Indore</h3>
            <div class="subheading mb-3">Bachelor of Technology (B.Tech)</div>
            <div>Computer Science Engineering</div>
            <p>CGPA: 7.87</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Aug 2017 - May 2021</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Army Public School, Mhow</h3>
            <div class="subheading mb-3">12<sup>th</sup> Standard (CBSE)</div>
            <p>Percentage: 78.6</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Jun 2016 - May 2017</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
          <div class="resume-content">
            <h3 class="mb-0">Army Public School, Mhow</h3>
            <div class="subheading mb-3">10<sup>th</sup> Standard (CBSE)</div>
            <p>CGPA: 8.0</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Jun 2014 - May 2015</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="projects">
      <div class="w-100">
        <h2 class="mb-5">Projects</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">e-Bansal</h3>
            <div class="mb-3"><a href="#">Under Construction</a></div>
            <p class="text-justify">This is an e-portal for our college i.e Sushila Devi Bansal College made using Node.js and Express.js. Here student can see what's happening in college and faculty can upload study material and important details.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Mar 2020</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Crafty Gourav</h3>
            <div class="mb-3"><a href="https://github.com/gouravhammad/CraftyGourav-Ecommerce-Project">https://github.com/gouravhammad/CraftyGourav-Ecommerce-Project</a></div>
            <p class="text-justify">This is an e-commerce website made using Java Frameworks like Spring and Hibernate. It is used for selling my own handmade products for running my bussiness.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Sept 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Task Manager App</h3>
            <div class="mb-3"><a href="https://gouravhammad-task-manager-app.herokuapp.com/">https://gouravhammad-task-manager-app.herokuapp.com/</a></div>
            <p class="text-justify">This is a task manager website made using Node.js and Express.js. This website allows users to manager their tasks. Here users can add tasks, delete tasks, update tasks and manage their all tasks easily.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Oct 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Chat Room</h3>
            <div class="mb-3"><a href="https://gouravhammad-chat-room.herokuapp.com/">https://gouravhammad-chat-room.herokuapp.com/</a></div>
            <p class="text-justify">This is a chat application made using Node.js and Express.js. Here users can chat with their friends easily by simply joining a room. It is a room based chatting site where all users can chat in that particular room with each other.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Nov 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Water Delivery App</h3>
            <div class="mb-3"><a href="#">Under Construction</a></div>
            <p class="text-justify">This is a e-commerce website made using Node.js and Express.js for buying domestic/drinking water. Here users can buy water through this app.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Dec 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Greatdeals</h3>
            <div class="mb-3"><a href="https://github.com/gouravhammad/Greatdeal-Ecommerce-Project">https://github.com/gouravhammad/Greatdeal-Ecommerce-Project</a></div>
            <p class="text-justify">This is a e-commerce website made using Java using Servlets and JDBC. Here customers can buy different products based on category.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Feb 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Transportdeals</h3>
            <div class="mb-3"><a href="https://github.com/gouravhammad/Transportdeals-Project">https://github.com/gouravhammad/Transportdeals-Project</a></div>
            <p class="text-justify">This is an Transport deals website made using java framework like Spring and Hibernate. Using this website, customers can book their deals and transporter can post their deals.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Jun 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Other Small Projects</h3>
            <div class="subheading mt-1">Weather App</div>
            <div class="mb-2"><a href="https://gouravhammad-weather-app.herokuapp.com/">https://gouravhammad-weather-app.herokuapp.com/</a></div>
            <p class="text-justify">It is made using Node.js and Express.js. This a Weather Application which shows the weather forecast of your desired location.</p>

            <div class="subheading mt-1">Notes App</div>
            <div class="mb-2"><a href="https://github.com/gouravhammad/Notes-Application">https://github.com/gouravhammad/Notes-Application</a></div>
            <p class="text-justify">This is a simple Node.js application for managing notes. Using command line arguments, users can add, delete, read and list notes.</p>

          </div>
          <div class="resume-date text-md-right">
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Skills</h2>

        <ul class="fa-ul mb-0">
          <li><i class="fa-li fa fa-arrow-right"></i>MEAN Stack (MongoDB, Express.js, Angular CLI, Node.js)</li>
          <li><i class="fa-li fa fa-arrow-right"></i>C/C++</li>
          <li><i class="fa-li fa fa-arrow-right"></i>Java and Frameworks (Spring & Hibernate)</li>
          <li><i class="fa-li fa fa-arrow-right"></i>Python Core</li>
          <li><i class="fa-li fa fa-arrow-right"></i>SQL</li>
          <li><i class="fa-li fa fa-arrow-right"></i>HTML/CSS/Bootstrap</li>
        </ul>
        
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Interests</h2>
        <p class="text-justify">Apart from being a web developer, I enjoy most of my time being outdoors. I enjoy bike riding and exploring new places. My intrestes are highly inclined towards computer programming and mainly towards competitve programming.</p>
        <p class="mb-0 text-justify">When forced indoors, I follow a number of sci-fi and fantasy genre movies and television shows, I spend a large amount of my free time doing my Art and Craft work.</p>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="awards">
      <div class="w-100">
        <h2 class="mb-5">Awards &amp; Certifications</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
          </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="https://www.hackerearth.com/@gouravhammad">Global Rank: 1190</a> - HackerEarth
          </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="https://www.codechef.com/users/gouravhammad">3 Star Rating</a> - Codechef
          </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="https://www.udemy.com/certificate/UC-QDIK9IG7/">The Complete Node.js Developer Course</a> - Udemy
          </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="https://certificate.iitbombayx.in/downloads/4bf4b835993e49aba1bc5a3f9f70a37f/Certificate.pdf">CS101.1x: Programming Basics</a> - IITBombayX
          </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="https://www.coursera.org/account/accomplishments/verify/6EQXTTFCRQR8">Algorithmic Toolbox</a> - Coursera
          </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="https://www.coursera.org/account/accomplishments/verify/9UVV5YL34SEF">Programming for Everybody (Getting Started with Python)</a> - Coursera
          </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="https://www.coursera.org/account/accomplishments/verify/6FJZPBQSRTJV">Programming Foundations with JavaScript, HTML and CSS</a> - Coursera
          </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="#">MEAN Stack Certificate</a> - SSI
          </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="#">Pro Java Certificate</a> - SSI
          </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="#">1st Prize in National Level Drawing & Painting Competition</a> - Army Public School
          </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="#">Best NCC Cadet Award</a> - Army Public School
          </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="#">1st Prize in Science Exhibition</a> - Army Public School
          </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="#">1st Prize in 800m Race</a> - Army Public School
          </li>

        </ul>
      </div>
    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/resume.min.js"></script>

</body>

</html>
