<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="RESUME : Gourav Hammad, Software Enginner">
  <meta name="keywords" content="Gourav,Hammad,Gourav Hammad,gouravhammad,Resume Gourav Hammad, GouravHammad">
  <meta name="author" content="Gourav Hammad">

  <title>Gourav Hammad</title>

  <link rel='icon' href='/img/icon.svg'/>
  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->

  <link href="css/resume.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Gourav Hammad</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-0" src="img/me.jpg" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#scholastic">SCHOLASTIC</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Work Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#internships">Internships</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Certifications">Certifications</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Technical Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#achievements">Achievements </a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="gallery">My Art Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="blog">My Publications</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Gourav
          <span class="text-primary">Hammad</span>
        </h1>
        <div class=" font-weight-bold mb-5">+91-9826527244
          <a href="mailto:gourav.hammad.sdbc@gmail.com"> gourav.hammad.sdbc@gmail.com</a>
        </div>
        <p class="lead mb-5 text-justify">I am a Full Stack developer 🚀 from India, Currently working as a Associate Software Developer at Bajaj Finserv Health. I am a part of the DRx team and I work on the Bajaj Health care product i.e. DRx platform which contributes to providing Healthcare solutions. Tech Stack which I currently work upon is ReactJS and JavaScript.</p>
        <div class="social-icons">
          <a target="__blank" href="https://www.linkedin.com/in/gouravhammad/">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a target="__blank" href="https://github.com/gouravhammad">
            <i class="fab fa-github"></i>
          </a>
          <a target="__blank" href="https://medium.com/@gouravhammad477">
            <i class="fab fa-medium"></i>
          </a>
          <a target="__blank" href="https://twitter.com/GouravHammad">
            <i class="fab fa-twitter"></i>
          </a>
          <a target="__blank" href="https://www.youtube.com/channel/UCbLiJz8Td-XTjIt-7wxnNpw">
            <i class="fab fa-youtube"></i>
          </a>
          <a target="__blank" href="https://www.facebook.com/gouravhammad477/">
            <i class="fab fa-facebook"></i>
          </a>
          <a target="__blank" href="https://www.instagram.com/gouravhammad/">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="scholastic">
      <div class="w-100">
        <h2 class="mb-5">Scholastic</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Sushila Devi Bansal College of Technology, Indore</h3>
            <div class="subheading mb-3">Bachelor of Technology (B.Tech)</div>
            <div>Computer Science Engineering</div>
            <p>CGPA: 8.2</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Aug 2017 - Jul 2021</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Army Public School, Mhow</h3>
            <div class="subheading mb-3">12<sup>th</sup> Standard (CBSE)</div>
            <p>PERCENTAGE: 78.6</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Jun 2016 - May 2017</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
          <div class="resume-content">
            <h3 class="mb-0">Army Public School, Mhow</h3>
            <div class="subheading mb-3">10<sup>th</sup> Standard (CBSE)</div>
            <p>CGPA: 8.0</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Jun 2014 - May 2015</span>
          </div>
        </div>

      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Work Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Associate Software Engineer</h3>
            <div class="subheading mb-3">Bajaj Finserv Health, Pune</div>
            <p class="text-justify">
              <ul>
                  <li>Working on the Bajaj Product i.e. the <a target="__blank" href="https://doctors.bajajfinservhealth.in/">DRx Platform</a>, the ultimate platform for hassle-free practice management.</li>
                  <li>Implemented the  <a target="__blank" href="https://voice.bajajfinservhealth.in/">Voice Prescription Platform</a> which helps in prescribing medicine using Voice Recognition.</li>
                  <li>Participate in Daily scrums, feature enhancement, product improvement, delivering user stories and bug fixes.</li>
              </ul>
            </p>  
            <p class="text-justify">Tech Stack: ReactJS, JavaScript, HTML and CSS</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Jun 2021 - Present</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">JavaScript Developer</h3>
            <div class="subheading mb-3">Olecons Technology, Indore</div>
            <p class="text-justify">
              <ul>
                <li>Designed, developed, and implemented JavaScript solutions leveraging NodeJS and ReactJS. </li>
                <li>Participate in an Agile team and actively involved in the full software development life cycle.</li>
              </ul>
            </p>
            <p class="text-justify">Tech Stack: Node.js, Express.js, React.js, MongoDB, and Sails.js</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Feb 2020 - Aug 2020</span>
          </div>
        </div>
      </div>

    </section>
    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="internships">
      <div class="w-100">
        <h2 class="mb-5">Internships</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Software Development Engineer</h3>
            <div class="subheading mb-3">Bajaj Finserv Health, Pune</div>
            <p class="text-justify">I had worked as an SDE intern at Bajaj Finserv Health where I was actively involved in the full software development life cycle. I was a part of the DRx team and contribute to providing Healthcare solutions. Worked on ReactJS Technology.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Aug 2020 - Jun 2021</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Technical Content Writer</h3>
            <div class="subheading mb-3">InterviewBit</div>
            <p class="text-justify">As a Part-time Technical Content Writer at InterviewBit, I was responsible for writing new articles and improving any existing articles if needed. I had published 10+ articles (each having 3000-4000 words) covering various domains like Software Engineering, Operating systems, Interview questions, etc.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Jan 2021 - Jun 2021</span>
          </div>
        </div>
        
        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Technical Content Reviewer</h3>
            <div class="subheading mb-3">Geeksforgeeks</div>
            <p class="text-justify">As a Technical Content Reviewer, I was tasked to review the Technical Content Articles written on GeeksforGeeks to ensure that the new content published on the platforms is reviewed and reformed. I had reviewed 1250+ articles with codes.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2020 - Jun 2021</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Technical Content Writer</h3>
            <div class="subheading mb-3">Geeksforgeeks</div>
            <p class="text-justify">As a Technical Content Writer at GeeksforGeeks, I was responsible for writing new articles and improving any existing articles if needed. I had published 750+ articles covering various domains like Software Engineering, ReactJS, NodeJS, ExpressJS, MongoDB, Email, and SMS API integration, etc.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Apr 2020 - Jun 2021</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Node.js Developer</h3>
            <div class="subheading mb-3">TDI, Indore</div>
            <p class="text-justify">I had worked as a Node.js Developer intern at The Design Institute, Indore. There I worked on multiple projects and worked closely with the UX/UI team. I managed the Backend in Node.js of the Fauna Nation project and later on I worked on the Water Delivery project. Throughout the process, I was actively involved in the full software development life cycle.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Dec 2019 - Feb 2020</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">MEAN Stack Developer</h3>
            <div class="subheading mb-3">Mantic Technologies, Indore</div>
            <p class="text-justify">I had worked as a MEAN Stack developer. Initially, I created API's in Node.js and did some bug fixing. Later on, I worked on a client project and throughout the process, I was actively involved in the full software development life cycle.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2019 - Jun 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-4">
          <div class="resume-content">
            <h3 class="mb-0">Java Developer</h3>
            <div class="subheading mb-3">Mantic Technologies, Indore</div>
            <p class="text-justify">I had worked as a Java Developer intern, my job roles were to create Web Services using the Jersey framework and implement Java solutions using Java frameworks like Spring and Hibernate. I was actively involved in the full software development life cycle.
            </p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Dec 2018 - Jan 2019</span>
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="projects">
      <div class="w-100">
        <h2 class="mb-5">Projects</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">India Stop Corona</h3>
            <div class="mb-3">Demo Video &nbsp; :&nbsp; <a target="__blank" href="https://youtu.be/EeG7Ok6t9gU">https://youtu.be/EeG7Ok6t9gU</a></div>
            <p class="text-justify">It helps people to keep themselves updated with corona related stats of India as well as the world. It is a platform where people can give help or take some help like grocery contacts, medical contacts, etc. It provides all necessary contacts of different locations.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Mar 2020</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">e-Bansal</h3>
            <p class="text-justify"> Web portal for SD Bansal College students to stay connected and keep themselves updated. It is made using Node.js and Express.js. Here student can see what's happening in college and faculty can upload study material and important details.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Apr 2020</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">iWaivers</h3>
            <div>Website URL :&nbsp; <a target="__blank" href="http://iwaivers.com/">http://iwaivers.com/</a></div>
            <p class="text-justify">This project is made using Sail.js, Node.js, MongoDB, and AngularJS. iWaivers is a platform for signing digital waivers with your device. It gives you the ability to sign documents and waivers electronically in a well-managed way. iWaivers will help your business grow, by giving you a platform where you can easily manage your waivers and their collections, and it gives you the ability to email and SMS your customers.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Feb 2020</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Crafty Gourav</h3>
            <div>Website URL :&nbsp; <a target="__blank" href="https://craftygourav.herokuapp.com/">https://craftygourav.herokuapp.com/</a></div>
            <div class="mb-3">Demo Video &nbsp; :&nbsp; <a target="__blank" href="https://youtu.be/WXAsuYaTIq0">https://youtu.be/WXAsuYaTIq0</a></div>
            <p class="text-justify">This is an e-commerce website made using Node.js, Express.js, and SQL. It is used for selling my handmade products for running my own Art & Craft business.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Aug 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Fauna Nation</h3>
            <div>Website URL :&nbsp; <a target="__blank" href="https://faunanation.org/blog/">https://faunanation.org/blog/</a></div>
            <p class="text-justify">Fauna Nation is a "Build For Digital India" initiative to care, enrich, and enhance the current scenario of Flora and Fauna. This is a project build under The Design Institute (TDI) where I with my team worked on the project for 3 months of time span.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Dec 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Chat Room</h3>
            <div>Website URL :&nbsp; <a target="__blank" href="https://gouravhammad-chat-room.herokuapp.com/">https://gouravhammad-chat-room.herokuapp.com/</a></div>
            <div class="mb-3">Demo Video &nbsp; :&nbsp; <a target="__blank" href="https://youtu.be/CWbOg4NzCFk">https://youtu.be/CWbOg4NzCFk</a></div>
            <p class="text-justify">This is a chat application made using Node.js and Express.js. Here users can chat with their friends easily by simply joining a room. It is a room based chatting site where all users can chat in that particular room with each other.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Sep 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-3">
          <div class="resume-content">
            <h3 class="mb-0">Task Manager</h3>
            <div>Website URL :&nbsp; <a target="__blank" href="https://gouravhammad-task-manager-app.herokuapp.com/">https://gouravhammad-task-manager-app.herokuapp.com/</a></div>
            <div class="mb-3">Demo Video &nbsp; :&nbsp; <a target="__blank" href="https://youtu.be/Zeogq8fWVlY">https://youtu.be/Zeogq8fWVlY</a></div>
            <p class="text-justify">This is a task manager website made using Node.js and Express.js. This website allows users to manage their tasks. Here users can add tasks, delete tasks, update tasks and manage all tasks easily.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">Jul 2019</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <h3 class="mb-0">Other Projects</h3>

            <div class="subheading mt-1 text-dark font-weight-bold">Weather Application</div>
            <div>Website URL :&nbsp; <a target="__blank" href="https://gouravhammad-weather-app.herokuapp.com/">https://gouravhammad-weather-app.herokuapp.com/</a></div>
            <div class="mb-3">Demo Video &nbsp; :&nbsp; <a target="__blank" href="https://youtu.be/Hbqb3boYCMg">https://youtu.be/Hbqb3boYCMg</a></div>
            <p class="text-justify">This is a Weather Application made using Node.js and Express.js. Using this website, users can see the weather forecast of their desired location.</p>

            <div class="subheading mt-1 text-dark font-weight-bold">Greatdeals</div>
            <div class="mb-3">Demo Video &nbsp; :&nbsp; <a target="__blank" href="https://youtu.be/YMgcL3-gpDA">https://youtu.be/YMgcL3-gpDA</a></div>
            <p class="text-justify">This is a java project made using Java Servlets and JSP. This is an eCommerce website for selling and buying products. Customers can buy different products based on category.</p>

            <div class="subheading mt-1 text-dark font-weight-bold">Notes Manager</div>
            <div class="mb-3">Demo Video &nbsp; :&nbsp; <a target="__blank" href="https://youtu.be/rXZQ1Ao0zsY">https://youtu.be/rXZQ1Ao0zsY</a></div>
            <p class="text-justify">This is a Node.js application for managing notes. Using command-line arguments, users can add, delete, read, and list notes.</p>

            <div class="subheading mt-1 text-dark font-weight-bold">Transportdeals</div>
            <p class="text-justify">This is a Transport deals website made using java frameworks like Spring and Hibernate. Using this website, customers can book their deals, and transporter can post their deals.</p>

            <div class="subheading mt-1 text-dark font-weight-bold">Water Delivery App</div>
            <p class="text-justify">It is made using Node.js, Express.js and SQL. This is a water delivery application which is a website for selling water related product like domestic water, tankers supply, etc.</p>

            <div class="subheading mt-1 text-dark font-weight-bold">E-commerce Application</div>
            <div class="mb-3">Demo Video &nbsp; :&nbsp; <a target="__blank" href="https://youtu.be/jxRunp_Ds4Y">https://youtu.be/jxRunp_Ds4Y</a></div>
            <p class="text-justify">This is an e-commerce website for Handmade Art and Craft products. It is made using Java frameworks like Spring and Hibernate. The build tool used is Maven. It's an art and craft website where users can buy their desired products.</p>
        
          </div>
          <div class="resume-date text-md-right">
          </div>
        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="Certifications">
      <div class="w-100">
        <h2 class="mb-5">Certifications</h2>
        <ul class="fa-ul mb-0">

          <li>
            <i class="fa-li fa fa-certificate text-warning"></i>
            <a target="__blank" href="https://www.udemy.com/certificate/UC-QDIK9IG7/">The Complete Node.js Developer Course</a> - Udemy
          </li>
          <li>
            <i class="fa-li fa fa-certificate text-warning"></i>
            <a target="__blank" href="https://certificate.iitbombayx.in/downloads/4bf4b835993e49aba1bc5a3f9f70a37f/Certificate.pdf">Programming Basics</a> - IITBombayX
          </li>
          <li>
            <i class="fa-li fa fa-certificate text-warning"></i>
            <a target="__blank" href="https://www.coursera.org/account/accomplishments/verify/6EQXTTFCRQR8">Algorithmic Toolbox</a> - Coursera
          </li>
          <li>
            <i class="fa-li fa fa-certificate text-warning"></i>
            <a target="__blank" href="https://www.coursera.org/account/accomplishments/verify/9UVV5YL34SEF">Programming for Everybody (Getting Started with Python)</a> - Coursera
          </li>
          <li>
            <i class="fa-li fa fa-certificate text-warning"></i>
            <a target="__blank" href="https://www.coursera.org/account/accomplishments/verify/6FJZPBQSRTJV">Programming Foundations with JavaScript, HTML and CSS</a> - Coursera
          </li>
          <li>
            <i class="fa-li fa fa-certificate text-warning"></i>
            <a target="__blank" href="#">Diploma in Office Automation</a> - AISECT
          </li>
          
          <li>
            <i class="fa-li fa fa-certificate text-warning"></i>
            <a target="__blank" href="#">MEAN Stack Certificate</a> - SSI
          </li>
          <li>
            <i class="fa-li fa fa-certificate text-warning"></i>
            <a target="__blank" href="#">Pro Java Certificate</a> - SSI
          </li>
          <li>
            <i class="fa-li fa fa-certificate text-warning"></i>
            <a target="__blank" href="#">Software Engineering Virtual Internship</a> - JPMorgan Chase
          </li>
          <li>
            <i class="fa-li fa fa-certificate text-warning"></i>
            <a target="__blank" href="#">Technology Consultant Virtual Internship</a> - Deloitte
          </li>
          <li>
            <i class="fa-li fa fa-certificate text-warning"></i>
            <a target="__blank" href="#">NCC 'A' Grade Certificate</a> - Army Public School, Mhow
          </li>

        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Technical Skills</h2>

        <ul class="fa-ul mb-0">
          <li><i class="fa-li fa fa-arrow-right text-warning"></i><span class="font-weight-bold text-dark">Programming Language : </span> C, C++, Java, Python, and JavaScript</li>
          <li><i class="fa-li fa fa-arrow-right text-warning"></i><span class="font-weight-bold text-dark">Backend : </span> Node.js, Express.js, Sails.js, Spring MVC, Hibernate, and Mongoose</li>
          <li><i class="fa-li fa fa-arrow-right text-warning"></i><span class="font-weight-bold text-dark">Frontend : </span>  React.js, Handlebars, EJS, HTML, CSS, Bootstrap, Basics of Angular.js and React Native</li>
          <li><i class="fa-li fa fa-arrow-right text-warning"></i><span class="font-weight-bold text-dark">Database : </span> SQL and MongoDB</li>
          <li><i class="fa-li fa fa-arrow-right text-warning"></i><span class="font-weight-bold text-dark">Tools : </span> Heroku, Postman, Compass, Robo3T, Slack, Jira, Azure DevOps, Maven, and Basics of Amazon EC2</li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="achievements">
      <div class="w-100">
        <h2 class="mb-5">Achievements</h2>
        <ul class="fa-ul mb-0">

          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a target="__blank" href="https://codingcompetitions.withgoogle.com/codejam/round/000000000019fd27">6630<sup>th</sup> position in Google codejam Qualifier Round 2020</a> - Google
          </li>

          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a target="__blank" href="https://www.techgig.com/hackathon/here-campus">3<sup>rd</sup> position in Location Services Hackathon organized by HERE Technologies and awarded by Rs. 20,000</a> - TechGig
          </li>

          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a target="__blank" href="https://www.linkedin.com/posts/gouravhammad_mjfcode19-covid19-hackathon-activity-6664455636274819073-B8ot/">Secured amongst the Top 250 entries in #MJFCODE19 Hackathon</a> - HackerEarth
          </li>

          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="#">Internal Hackathon winner in Smart India Hackathon</a> - SDBCT, Indore
          </li>

          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a target="__blank" href="https://auth.geeksforgeeks.org/user/gouravhammad/profile">Campus Mantri (Campus Ambassador) of SD Bansal College for the session 2020-21</a> - GeeksforGeeks
          </li>

          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a target="__blank" href="https://www.geeksforgeeks.org/the-technical-scripter-event-by-geeksforgeeks-2/">Secured among the Top 50 position in the Technical Scripter event</a> - GeeksforGeeks
          </li>

          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a target="__blank" href="https://www.techgig.com/hackathon/here-campus">1<sup>st</sup> position in Discovery Challenge a coding contest</a> - Scaler Academy
          </li>

          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a  href="#"> 1<sup>st</sup> position in inter-college Website-App Presentation competition at Frequency 2020</a> - SDBCT, Indore
          </li>

          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a target="__blank" href="https://www.facebook.com/urjotsav/photos/pcb.1365832830267992/1365831856934756/?type=3&theater"> 1<sup>st</sup> position in inter-college Website and Mobile App Design competition at Urjotsav 2020</a> - PIEMR, Indore
          </li>

          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a target="__blank" href="https://www.hackerearth.com/@gouravhammad">1231<sup>th</sup> Global Rank on HackerEarth platform</a> - HackerEarth
          </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a target="__blank" href="https://www.codechef.com/users/gouravhammad">Secured 1675 rating (3 Stars) on CodeChef</a> - CodeChef
          </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a  href="#">1<sup>st</sup> position in National Level Drawing & Painting Competition</a> - Army Public School, Mhow
          </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="#">Best NCC Cadet Award at 1 MP AIR SQN NCC, Indore</a> - Army Public School, Mhow
          </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="#">1<sup>st</sup> position in Science Exhibition</a> - Army Public School, Mhow
          </li>
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="#">1<sup>st</sup> position in 800m Race</a> - Army Public School, Mhow
          </li>

        </ul>
      </div>
    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="js/resume.min.js"></script>

</body>

</html>
